.faq-section {
  padding: 10px 20px 40px 20px;
  //   background-color: red;
  // background-color: #e7ebf0;
  border-radius: 10px;
  user-select: none;
  .sub-title {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 10px;
  }

  .faq-list {
    max-width: 800px;
    margin: 0 auto;

    .faq-item {
      // background: #ddd;
      padding: 16px 20px;
      // margin-bottom: 12px;
      cursor: pointer;

      // border-radius: 6px;
      transition: all 0.3s ease-in-out;
      border-bottom: 1px solid lightgray;

      .faq-question {
        // font-size: 18px;
        font-weight: 500;
        color: #333;
        // color: #3182ce;
        display: flex;
        align-items: start;
        gap: 12px;
      }

      .faq-answer {
        // margin-top: 10px;
        font-size: 16px;
        color: #666;
        line-height: 1.5;
        overflow: hidden;
        max-height: 0; /* Start with the answer hidden */
        p {
          margin-top: 10px;
          margin-bottom: 5px;
        }
      }

      &.active {
        .faq-answer {
          max-height: 200px; /* Allow the answer to expand */
        }
      }

      &:hover {
        // transform: scale(1.02);
      }
    }
  }
}
