.contact-component {
  margin-top: 60px;

  .contact-component-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: start;

    .contact-info {
      .desc {
        font-size: 16px;
        color: #555;
        margin-bottom: 10px;
      }

      .info-list {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .info-item {
          display: grid;
          grid-template-columns: 25px 1fr;
          align-items: start;
          gap: 15px;
          font-size: 16px;
          color: #333;

          .icon {
            font-size: 20px;
            width: 30px;
            color: #3182ce;
            margin-top: 2px;
          }

          .labeling {
            color: #3182ce;
            // font-size: 14px;
            margin-bottom: 5px;
          }

          .address {
            line-height: 1.6;
          }
        }

        .address-section {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;

          .map-wrapper {
            border: 2px solid lightgray;
            margin-top: 10px;

            iframe {
              height: 300px;
            }
          }
        }
      }
    }


  }

  .contact-form-wrapper {
    border-radius: 10px;
    background-color: #e7ebf0;
    padding: 2rem 1rem;

    .sub-title {
      text-align: center;
      // color: white
    }

    .contact-form {
      border-radius: 8px;


      .form {
        margin: auto;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .form-group {
          display: flex;
          flex-direction: column;
          gap: 8px;

          label {
            font-size: 14px;
            color: #333;
            display: none;
          }

          input,
          textarea {
            padding: 12px 15px;
            border: 1px solid #ccc;
            border-radius: 2px;
            font-size: 14px;
            outline: none;
            transition: border-color 0.3s;
            font-family: unset;
            // font-family: "Atlassian Sans";

            &:focus {
              border-color: #3182ce;
            }
          }
        }

        .submit-button {
          padding: 12px 22px;
          background-color: #3182ce;
          color: #fff;
          font-size: 15px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #005bb5;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contact-component {
    .contact-component-wrapper {
      grid-template-columns: 1fr;

      .contact-info {
        .info-list {
          .address-section {
            grid-template-columns: 1fr;

            // gap: 30px;
            .map-wrapper {
              border: 2px solid lightgray;
              margin-top: 10px;

              iframe {
                height: 200px;
              }
            }
          }
        }
      }
    }
  }
}