.company-gallery {
  margin-top: 70px;

  .banner-image1 {
    width: 100%;
    margin-bottom: 6px;
  }

  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #1d1d1d;
  }

  .subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 2rem;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    .img-card {
      position: relative;
      overflow: hidden;
      border-radius: 6px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
      cursor: pointer;
      //   transition: transform 0.2s;

      img {
        width: 100%;
        // height: 100%;
        height: 260px;
        object-fit: cover;
        transition: transform 0.2s;
        border-radius: 6px;
      }

      .caption {
        // position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        // padding: 0.6rem;
        font-size: 0.95rem;
        width: 100%;
        text-align: center;
      }

      &:hover img {
        transform: scale(1.05);
      }
    }
  }

  .lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    img {
      border: 3px solid lightgray;
      max-width: 90%;
      max-height: 85%;
      border-radius: 8px;
    }

    .close {
      position: absolute;
      top: 25px;
      right: 35px;
      font-size: 2.5rem;
      color: white;
      cursor: pointer;
    }
  }
}
