.side-drawer-body {

  .menu-items {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0px;

    a {
      padding: 10px;
      font-size: 22px;
      font-weight: 500;
    }

    button {
      font-size: 20px !important;
    }
  }


}

.p-sidebar {
  background-color: #fecc30;
  color: #222;

  .p-sidebar-close {
    svg {
      height: 22px;
      width: 22px;
      // font-size: 20px;
      color: #222;
    }

  }
}

.p-button {
  background-color: white;
  color: #333;
  border: 0;

  .p-button-icon {
    font-size: 1.5rem;
    width: auto;
  }
}

.p-button.p-button-icon-only {
  width: auto;
}