@import "../theme.scss";

.home-component-wrapper {
  .home-component {
    .hero-section {
      display: grid;
      gap: 50px;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      height: 100vh;

      .mobile-image {
        display: none;
        width: 100%;
        height: 100%;
      }

      .hero-image {
        width: 100%;
        height: 100%;
      }

      .hero-info {
        .hero-title {
          font-size: 3.8rem;
          font-weight: 700;
          color: #1a202c;
          line-height: 1.2;
          margin-bottom: 1rem;
        }

        .hero-desc {
          font-size: 1.125rem;
          color: #484848;
          line-height: 1.6;
        }
      }
    }

    .our-story-wrapper {
      display: grid;
      grid-template-columns: 5fr auto;
      gap: 40px;
      background-color: $primary-bg-color;
      padding: 2rem;
      border-radius: 10px;

      .our-story {
        color: #2b6cb0;
        font-size: 14px;
        font-weight: 500;
      }

      .title {
        font-size: 2.5rem;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 1rem;
      }

      .desc {
        color: #333;
      }

      img {
        width: 300px;
        border-radius: 10px;
        height: 300px;
      }

      .our-story {
      }
    }
  }
}

@media (max-width: 768px) {
  .home-component-wrapper {
    .home-component {
      margin-top: 70px;

      .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        height: auto;

        .hero-image {
          margin-bottom: 40px;
        }

        .hero-info {
          .hero-title {
            font-size: 2rem;
          }

          .hero-desc {
            font-size: 1rem;
          }
        }
      }

      .our-story-wrapper {
        padding: 1.2rem;
        grid-template-columns: 1fr;
        gap: 0px;

        .our-story {
          margin-bottom: 10px;
        }

        img {
          width: 100%;
          border-radius: 10px;
          // height: 300px;
        }

        .title {
          font-size: 2rem;
          line-height: 1.2;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
