.products-page {
  margin-top: 60px;
  // padding: 20px;

  .page-title {
    text-align: center;

    h1 {
      font-size: 36px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      color: #555;
      margin-bottom: 0;
    }
  }

  .main-products {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .product-card {
      display: grid;
      gap: 30px;
      grid-template-columns: 2fr 3fr;
      align-items: start;
      background-color: #e7ebf0;
      padding: 1rem;
      border-radius: 10px;

      .image-wrapper {
        overflow: hidden;
        border-radius: 8px;
        img {
          border-radius: 8px;
          width: 100%;
          aspect-ratio: 4/3.5;
          transition: transform 0.5s ease;
          transform: scale(1.1);
          &:hover {
            transform: scale(1);
          }
        }
      }

      .product-info {
        .sub-title {
          margin-top: 15px;
          margin-bottom: 10px;
        }

        p {
          font-size: 16px;
          margin-bottom: 20px;
          color: #666;
        }

        .btn-primary {
          background-color: #fecc30;
          // background-color: #000;
          border: none;
          color: #000;
          // color: #fecc30;
          padding: 12px 24px;
          font-weight: 500;
          // font-weight: 400;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }

  .other-products {
    padding: 3rem 0rem;
    .sub-title {
      text-align: center;
      margin-bottom: 35px;
      margin-top: 10px;
    }

    .other-products-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;

      .small-product-card {
        background: #fff;
        padding: 0.7rem;
        border-radius: 10px;

        .image-wrapper {
          overflow: hidden;
          border-radius: 8px;
          img {
            border-radius: 6px;
            width: 100%;
            transition: transform 0.5s ease;
            transform: scale(1.1);
            &:hover {
              transform: scale(1);
            }
          }
        }

        h3 {
          margin-bottom: 15px;
          font-size: 20px;
        }

        .btn-secondary {
          margin-top: 10px;
          background: #fecc30;
          // background-color: #000;
          border: 0;
          color: #000;
          // color: #fecc30;
          padding: 10px 18px;
          border-radius: 5px;
          font-weight: 500;
          font-size: 14px;
          cursor: pointer;
          float: right;
          display: inline-flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }

  .offer-section {
    text-align: center;
    padding: 3rem 0;
    .offer-products-list {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      .combo-product-card {
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        .combo-main-product {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .price {
            font-size: 2.5rem;
            font-weight: 700;
            color: #ff5722;
            margin: 1rem 0;
            background: linear-gradient(90deg, #ff8a00, #e52e71);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: pulse 2s infinite;
            text-align: center;
          }

          .each {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            position: relative;
            img {
              width: 400px;
              border-radius: 6px;
            }
          }
        }
        .other-combo-products {
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 10px;
          align-items: center;
          justify-content: center;
          gap: 15px;
          .each {
            display: flex;
            flex-direction: column;
            // gap: 8px;
            position: relative;
            background-color: #fff;
            border-radius: 6px;

            border: 1px solid #e7ebf0;
            img {
              width: 250px;
              height: 250px;
              object-fit: cover;
              border-radius: 6px;
            }
          }
        }
      }
    }
    .plus-icon {
      color: #27ae60;
      font-size: 3rem;
    }
    .product-name {
      font-size: 1rem;
      padding-bottom: 15px;
      font-size: 18px;
      // padding: 5px 15px;
    }
  }

  .product-highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7ebf0;
    padding: 3rem;
    border-radius: 10px;

    .sub-title {
      margin-bottom: 15px;
      margin-top: 10px;
    }
    .highlight {
      display: flex;
      gap: 100px;
      ul {
        list-style: none;
        padding: 0;

        li {
          font-size: 1rem;
          margin-bottom: 12px;
          display: flex;
          align-items: center;
          // color: #2c3e50;

          svg {
            color: #27ae60;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .product-specifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    .sub-title {
      margin-bottom: 15px;
      margin-top: 10px;
    }
    .specs {
      display: flex;
      gap: 40px;

      ul {
        // display: none;
        list-style: none; // remove default bullets
        padding: 0;
        margin: 20px 0;

        li {
          position: relative;
          padding-left: 24px; // space for custom bullet
          margin-bottom: 10px;
          font-size: 16px;
          // color: #666666;
          line-height: 1.5;

          &::before {
            content: "•"; // custom bullet
            position: absolute;
            left: 0;
            top: 0;
            // color: #333; // nice blue bullet
            font-size: 20px;
            line-height: 1;
          }
        }
      }
    }

    .spec-row {
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      background: #f9f9f9;
      border: 1px solid #eee;
      border-radius: 8px;
    }

    .spec-label {
      // font-weight: 600;
      color: #333;
    }

    .spec-value {
      color: #666;
      text-align: right;
    }
  }
}

@media (max-width: 768px) {
  .products-page {
    .main-products {
      gap: 20px;

      .product-card {
        grid-template-columns: 1fr;
        gap: 0;
        flex-direction: column;
        padding: 0.7rem;

        .product-info {
          .sub-title {
            margin-top: 22px;
          }

          .desc {
            margin-top: 0;
          }

          .btn-primary {
            float: right;
          }
        }
      }
    }

    .product-specifications {
      .specs {
        display: block;
        gap: 0px;
      }
    }
    .product-highlights {
      padding: 1rem;
      .highlight {
        display: block;
        gap: 0px;
      }
    }

    .offer-section {
      text-align: center;
      .offer-products-list {
        grid-template-columns: 1fr;
        .combo-product-card {
          .combo-main-product {
            .price {
              font-size: 1.8rem;
            }
            .each {
              img {
                width: 100%;
              }
            }
          }
          .other-combo-products {
            grid-template-columns: 1fr 1fr;
            padding: 0px;
            gap: 10px;

            .each {
              padding: 0px;

              img {
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 6px;
              }
            }
          }
        }
      }
      .plus-icon {
        font-size: 2rem;
      }
      .product-name {
        font-size: 0.8rem;
        width: 100%;
      }
    }
  }
}
