.coders-shine-section {
  // padding: 60px 20px;
  // background: #f9fafc;
  text-align: center;
  // width: 80%;
  margin: 0 auto;
  position: relative; /* To position the pseudo-elements */

  .sub-title {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .rows-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .card-row {
      width: 100%;
      overflow: hidden;
      position: relative;
      // height: 200px;

      .marquee-track {
        display: flex;
        width: max-content;
        animation-duration: 100s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      &.scroll-left .marquee-track {
        animation-name: scrollLeft;
      }

      &.scroll-right .marquee-track {
        animation-name: scrollRight;
      }

      .card {
        // width: 300px;
        max-width: 350px;
        background: white;
        border-radius: 12px;
        border: 1px solid #cbd5e0;
        // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        padding: 20px;
        margin-right: 20px;
        flex-shrink: 0;

        .card-header {
          display: flex;
          align-items: start;
          justify-content: space-between;
          margin-bottom: 10px;
          .details {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
          }

          .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }

          .name {
            font-weight: 600;
            font-size: 16px;
          }

          .role {
            font-size: 12px;
            color: #6b7280;
          }
        }

        .stars {
          display: flex;
          gap: 4px;
          margin-bottom: 10px;

          .star {
            color: #e5e7eb;

            &.filled {
              color: #facc15;
            }
          }
        }

        .testimonial {
          font-size: 14px;
          color: #374151;
          // font-style: italic;
        }
      }
    }
  }

  /* Create gradient blur effect at both ends */
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, #fff, rgba(249, 250, 252, 0));
    // background: red;
    z-index: 1;
  }

  &::before {
    left: 0;
    filter: blur(10px); /* Add blur effect */
    left: -20;
  }

  &::after {
    right: 0;
    transform: rotate(180deg);
    filter: blur(10px); /* Add blur effect */
    right: -20;
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
