.layout-container-wrapper {
  margin: auto;
  width: 100%;

  .layout-container {
    margin: auto;
    max-width: 1200px;
    // min-width: 1200px;
    padding: 2rem 2rem;
    // padding: 2rem 0rem;
  }
}

@media (max-width: 768px) {
  .layout-container-wrapper {
    margin: auto;

    .layout-container {
      margin: auto;
      max-width: 1200px;
      padding: 2rem 1.2rem;
      padding: 2rem 1.2rem;
    }
  }
}